# √övod do Datab√°z a DBMS

# üîå Kurz Python Datab√°zy
**üßë‚Äçüè´ Lektor:** Miroslav Reiter  
**üì• LinkedIn kontakt:** https://www.linkedin.com/in/miroslav-reiter/  

`*Testovaci* **Text**`

**‚úÖ Osnova:** https://itkurzy.sav.sk/node/178

**üéûÔ∏è YouTube vide√°:** https://www.youtube.com/c/IT-AcademySK  
**üìá Zdrojov√© k√≥dy a materi√°ly:** https://github.com/miroslav-reiter/Kurzy_SAV_Analytika_Python_R  

**üòä Emojis:** Win + .

# ‚öíÔ∏è Najpou≈æ√≠vanej≈°ie N√°stroje D√°tovej Anal√Ωzy
- üêç **Python** - moment√°lne najpopul√°rnej≈°√≠ jazyk pre vedu o √∫dajoch (Data science). Python je s√≠ce interpretovan√Ω a pomal≈°√≠ jazyk ako C/C++, ale vyu≈æit√≠m kni≈æn√≠c, ako je NumPy (a Pandas navy≈°e), sa m√¥≈æeme pribl√≠≈æi≈• r√Ωchlosti C.  
  
- ü™ê **Jupyter** - n√°stroj s prostred√≠m interakt√≠vneho notebooku, mocn√Ω prieskumn√Ω, vizualizaƒçn√Ω a komunikaƒçn√Ω n√°stroj.
  
- üêº **Pandas** - n√°stroj na manipul√°ciu s tabuƒækov√Ωmi √∫dajmi v Pythone. Je to obrovsk√° kni≈ænica, ale ak pozn√°te spr√°vne met√≥dy, m√¥≈æeme vytvori≈• v√Ωkonn√∫ anal√Ωzu.
  
- üìä **Matplotlib** - grafick√° kni≈ænica s r√¥znymi grafmi a vizualiz√°ciami. V spojen√≠ s Pandas a Jupyter m√¥≈æeme r√Ωchlo z√≠ska≈• prehƒæad o na≈°ich √∫dajoch.  
  
- üöÄ **Numpy** - kni≈ænica jazyka Python, ktor√° poskytuje infra≈°trukt√∫ru pre pr√°cu s vektormi, maticami a v≈°eobecne viacrozmern√Ωmi poliami.

## üìö Kni≈ænice/Moduly pre pr√°cu s Datab√°zami
1. **pymysql**
1. **psycopg2**
1. sqlite3
1. cx_Oracle
1. pyodbc
1. sqlalchemy

üòé Existuje 300 000+ kni≈æn√≠c pre Python.

# ƒåo je Datab√°za?

1. Kontajn√©r na ukladanie a organiz√°ciu √∫dajov
2. Kolekcia d√°t, ktor√© s√∫ systematicky usporiadan√© tak, aby bolo mo≈æn√© ƒæahko pristupova≈• k nim, spravova≈• ich a aktualizova≈• 
3. S√∫ nevyhnutn√© pre r√¥zne aplik√°cie a organiz√°cie, preto≈æe poskytuj√∫ efekt√≠vny sp√¥sob, ako uklada≈•, naƒç√≠ta≈• a analyzova≈• veƒæk√© objemy √∫dajov

# ƒåo je DBMS (Database Management System)?
* Softv√©rov√Ω n√°stroj alebo s√∫bor n√°strojov pou≈æ√≠van√Ω na vytv√°ranie, spravovanie a prisp√¥sobovanie datab√°z 
* Umo≈æ≈àuje pou≈æ√≠vateƒæom uklada≈•, spracov√°va≈• a analyzova≈• veƒæk√© mno≈æstvo ≈°trukt√∫rovanej inform√°cie a spravova≈• d√°ta s vysokou √∫ƒçinnos≈•ou a bezpeƒçnos≈•ou

# Pr√≠klady Vyu≈æitia Datab√°z 
1. Bankovn√≠ctvo: Na ukladanie inform√°ci√≠ o klientoch, ich √∫ƒçtoch, transakci√°ch, p√¥≈æiƒçk√°ch a in√Ωch finanƒçn√Ωch slu≈æb√°ch
2. **Online obchody a e-commerce**: Na spr√°vu eshopu, z√°kazn√≠ckych √∫dajov, objedn√°vok, platobn√Ωch inform√°ci√≠ a historie n√°kupov
3. Zdravotn√≠ctvo: Na ukladanie pacientskych z√°znamov, lek√°rskych predpisov, v√Ωsledkov testov a inform√°ci√≠ o lieƒçbe
4. **Vzdel√°vanie**: Na spr√°vu ≈°tudentsk√Ωch z√°znamov, kurzov, zn√°mok a registr√°cie
5. Telekomunik√°cie: Na spr√°vu inform√°ci√≠ o z√°kazn√≠koch, hovoroch, faktur√°cii a sie≈•ov√Ωch d√°tach
6. V√Ωroba: Na sledovanie v√Ωrobn√Ωch procesov, z√°sob, objedn√°vok a dod√°vateƒæsk√Ωch re≈•azcov
7. Doprava a logistika: Na sledovanie z√°sielok, vozov√©ho parku, cestovn√Ωch itiner√°rov a √∫dajov o preprave
8. Vl√°dne a verejn√© slu≈æby: Na evidenciu obƒçianskych √∫dajov, da≈àov√Ωch z√°znamov, evidencie vozidiel a in√Ωch verejn√Ωch z√°znamov
9. **Soci√°lne m√©di√° a online platformy**: Na ukladanie √∫dajov o pou≈æ√≠vateƒæoch, ich interakci√°ch, pr√≠spevkoch a sie≈•ov√Ωch vz≈•ahoch
10. **Vedeck√Ω v√Ωskum a d√°tovej anal√Ωzy**: Na ukladanie a analyzovanie veƒæk√Ωch s√∫borov √∫dajov v oblastiach ako gen√≥mika, klimatol√≥gia, fyzika a mnoho ƒèal≈°√≠ch

# DBMS Funkcie
1. Ukladanie d√°t: Umo≈æ≈àuje ukladanie r√¥znych druhov d√°t v organizovanej forme
2. Manipul√°cia s d√°tami: Podpora pre vytv√°ranie, aktualiz√°ciu, mazanie a vyhƒæad√°vanie d√°t
3. Transakƒçn√Ω mana≈æment: Zabezpeƒçuje integritu d√°t pri s√∫ƒçasnom pr√≠stupe viacer√Ωch pou≈æ√≠vateƒæov a zabezpeƒçuje, ≈æe v≈°etky transakcie s√∫ kompletn√© a konzistentn√©
4. Zabezpeƒçenie a spr√°va opr√°vnen√≠: Umo≈æ≈àuje definova≈•, kto m√° pr√≠stup k ak√Ωm d√°tam a ak√© oper√°cie m√¥≈æe s d√°tami vykon√°va≈•
5. Z√°lohovanie a obnova: Umo≈æ≈àuje z√°lohovanie d√°t a ich obnovu v pr√≠pade syst√©mov√©ho zlyhania alebo straty d√°t

# Konkr√©tne DBMS/DB
1. MySQL: Obƒæ√∫ben√Ω open-source relaƒçn√Ω datab√°zov√Ω syst√©m, ktor√Ω je ƒçasto pou≈æ√≠van√Ω v web aplik√°ci√°ch, vr√°tane online obchodov a webov
2. PostgreSQL: Vysoko sofistikovan√Ω open-source objektovo-relaƒçn√Ω DBMS, zn√°my pre svoju robustnos≈•, skalovateƒænos≈• a podporu komplexn√Ωch d√°tov√Ωch typov
3. Microsoft SQL Server: Komplexn√Ω komerƒçn√Ω DBMS od spoloƒçnosti Microsoft, popul√°rny vo firemnom prostred√≠, pon√∫ka rozsiahle n√°stroje a integr√°ciu s in√Ωmi produktmi Microsoftu
4. Oracle Database: Veƒæmi v√Ωkonn√Ω a roz≈°√≠ren√Ω komerƒçn√Ω DBMS, pou≈æ√≠van√Ω hlavne veƒæk√Ωmi spoloƒçnos≈•ami a organiz√°ciami pre kritick√© aplik√°cie
5. MongoDB: Popul√°rny NoSQL datab√°zov√Ω syst√©m orientovan√Ω na dokumenty, vhodn√Ω pre aplik√°cie, ktor√© vy≈æaduj√∫ r√Ωchle spracovanie veƒæk√©ho mno≈æstva nestrukturovan√Ωch d√°t
6. SQLite: ƒΩahk√°, embeddable datab√°za, ktor√° nevy≈æaduje samostatn√Ω serverov√Ω proces, ƒçasto pou≈æ√≠van√° v mobiln√Ωch aplik√°ci√°ch a mal√Ωch webov√Ωch projektoch
7. IBM DB2: V√Ωkonn√Ω komerƒçn√Ω DBMS, ktor√Ω sa pou≈æ√≠va v r√¥znych podnikov√Ωch a analytick√Ωch aplik√°ci√°ch
8. Apache Cassandra: ≈†k√°lovateƒæn√Ω, vysokov√Ωkonn√Ω distribuovan√Ω NoSQL DBMS, navrhnut√Ω pre spracovanie veƒæk√Ωch objemov d√°t rozlo≈æen√Ωch naprieƒç mnoh√Ωmi servermi
9. Redis: V√Ωkonn√Ω datab√°zov√Ω syst√©m v pam√§ti, ktor√Ω sa ƒçasto pou≈æ√≠va ako vyrovn√°vacia pam√§≈• alebo na ukladanie d√°t v re√°lnom ƒçase
10. Amazon DynamoDB: Plne spravovan√° NoSQL datab√°zov√° slu≈æba poskytovan√° Amazon Web Services, navrhnut√° pre jednoduch√© ≈°k√°lovanie a vysok√∫ dostupnos≈•

# Pripojenie sa na DB

## üê¨ MySQL 
In≈°tal√°tor: https://dev.mysql.com/downloads/mysql/ | https://www.wampserver.com/en/  
Porty: 3306-3311  
User: root  
Heslo: bez (Wamp)/vase(MySql installer)  
JDBC driver: https://dev.mysql.com/downloads/connector/j/  

##  üêò PostgreSQL 
In≈°tal√°tor: https://www.postgresql.org/download/windows/  
Porty: 5432  
User: postgres  
Heslo: vase(PostgreSQL installer)  
JDBC driver: https://jdbc.postgresql.org/download.html  

##  üé© Apache Derby  
In≈°tal√°tor: https://db.apache.org/derby/derby_downloads.html  
Porty: 1527  

##  ‚òÅÔ∏è Oracle DB  
In≈°tal√°tor: https://www.oracle.com/database/technologies/appdev/xe.html  
Porty: 1521  
SID: xe  

##  ü¶¢ SQLite  
In≈°tal√°tor: https://www.sqlite.org/download.html  
Porty: nem√° porty

## üóÑÔ∏è √ödaje na Testovacie Pripojenie na Datab√°zu na DOMA
### üê¨ MySQL 
**Hostiteƒæ [host]:** mysql57.r2.websupport.sk  
Datab√°za [database/schema]: Kurz_DB_SQL  
**Pou≈æ√≠vateƒæ [user]:** Kurz_DB_SQL  
Heslo [password]: Buduci_analytik123  
**Port:** 3311  

### üêò PostgreSQL 
**Hostiteƒæ [host]:** postgresql.r2.websupport.sk  
Datab√°za [database/schema]: Kurz_VAVA_JDBC  
**Pou≈æ√≠vateƒæ [user]:** Kurz_VAVA_JDBC  
Heslo [password]: Kurz_java_developeri_2023  
**Port:** 5432

# V√Ωpis V≈°etk√Ωch Tabuliek (Tabuliek)

In [1]:
show tables;

,Tables_in_DB_MySQL
0,DEPT
1,EMP
2,Studenti
3,T1
4,T10
5,T100
6,Znamky
7,nobel
8,world

# Prv√© Dopyty v Jazyku SQL (Selecty)

In [2]:
select * from world;

,name,continent,area,population,gdp,capital,tld,flag
0,Afghanistan,Asia,652230,25500100,2.036400e+10,Kabul,.af,//upload.wikimedia.org/wikipedia/commons/9/9a/...
1,Albania,Europe,28748,2821977,1.204400e+10,Tirana,.al,//upload.wikimedia.org/wikipedia/commons/3/36/...
2,Algeria,Africa,2381741,38700000,2.070210e+05,Algiers,.dz,//upload.wikimedia.org/wikipedia/commons/7/77/...
3,Andorra,Europe,468,76098,3.222000e+09,Andorra la Vella,.ad,//upload.wikimedia.org/wikipedia/commons/1/19/...
4,Angola,Africa,1246700,19183590,1.163080e+05,Luanda,.ao,//upload.wikimedia.org/wikipedia/commons/9/9d/...
...,...,...,...,...,...,...,...,...
190,Venezuela,South America,916445,28946101,3.824240e+05,Caracas,.ve,//upload.wikimedia.org/wikipedia/commons/0/06/...
191,Vietnam,Asia,331212,89708900,1.558200e+04,Hanoi,.vn,//upload.wikimedia.org/wikipedia/commons/2/21/...
192,Yemen,Asia,527968,25235000,3.283100e+10,Sana‚Äòa,.ye,//upload.wikimedia.org/wikipedia/commons/8/89/...
193,Zambia,Africa,752612,15023315,2.149000e+10,Lusaka,.zm,//upload.wikimedia.org/wikipedia/commons/0/06/...
194,Zimbabwe,Africa,390757,13061239,9.802000e+09,Harare,.zw,//upload.wikimedia.org/wikipedia/commons/6/6a/...

# SQL

# üëå Jazyk SQL
* Skratka pre ‚ÄûStructured Query Language‚Äú (≈†trukt√∫rovan√Ω dopytovac√≠ jazyk), 
* Je ≈°tandardn√Ω jazyk pou≈æ√≠van√Ω na spr√°vu a manipul√°ciu s d√°tami v relaƒçn√Ωch datab√°zov√Ωch syst√©moch. 
* Umo≈æ≈àuje vytv√°ra≈•, upravova≈•, spravova≈• a dotazova≈• sa na datab√°zy, ƒço zah≈ï≈àa oper√°cie ako vkladanie, aktualiz√°cia, mazanie a vyberanie d√°t. Jazyk SQL je ≈°iroko pou≈æ√≠van√Ω v oblasti datab√°zov√©ho programovania a spr√°vy d√°t.  
  
1. DQL ‚Äì Data Query Language
2. DML ‚Äì Data Manipulation Language
3. DDL ‚Äì Data Definition Language
4. DCL ‚Äì Data Control Language

# SQL Jazyk ‚Äì DML

1. SELECT ‚Äì v√Ωber d√°t  
2. INSERT ‚Äì vlo≈æenie d√°t 
3. UPDATE ‚Äì aktualiz√°cia d√°t 
4. DELETE ‚Äì zmazanie d√°t 
5. UPSERT ‚Äì aktualiz√°cia a s√∫ƒçasne vkladanie d√°t

# Vlastnosti jazyka SQL
1. Medzery navy≈°e s√∫ ignorovan√©
2. Nie je senzit√≠vny na veƒækos≈• p√≠smen
3. Pr√≠kazy s√∫ oddeƒæovan√© bodkoƒçiarkou
4. Klauzuly s√∫ ≈°peci√°lne kƒæ√∫ƒçov√© slov√°
5. V√Ωrazy vracaj√∫ skal√°rne hodnoty alebo tabuƒæky
6. Predik√°t predstavuje podmienku ‚Äì 3‚Äìhodnotov√° logika

In [4]:
SELECT * FROM EMP;

,EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
0,7369,SMITH,CLERK,7902.0,1980-12-17,800,NaN,20
1,7499,ALLEN,SALESMAN,7698.0,1981-02-20,1600,300.0,30
2,7521,WARD,SALESMAN,7698.0,1981-02-22,1250,500.0,30
3,7566,JONES,MANAGER,7839.0,1981-04-02,2975,NaN,20
4,7654,MARTIN,SALESMAN,7698.0,1981-09-28,1250,1400.0,30
5,7698,BLAKE,MANAGER,7839.0,1981-05-01,2850,NaN,30
6,7782,CLARK,MANAGER,7839.0,1981-06-09,2450,NaN,10
7,7788,SCOTT,ANALYST,7566.0,1982-12-09,3000,NaN,20
8,7839,KING,PRESIDENT,NaN,1981-11-17,5000,NaN,10
9,7844,TURNER,SALESMAN,7698.0,1981-09-08,1500,0.0,30
10,7876,ADAMS,CLERK,7788.0,1983-01-12,1100,NaN,20
11,7900,JAMES,CLERK,7698.0,1981-12-03,950,NaN,30
12,7902,FORD,ANALYST,7566.0,1981-12-03,3000,NaN,20
13,7934,MILLER,CLERK,7782.0,1982-01-23,1300,NaN,10

In [8]:
-- Jednoriadkovy komentar
/*
    Autor: Miroslav Reiter
    Verzia: 1.0
*/
# Jednoriadkovy komentar
SELECT * FROM world;

,name,continent,area,population,gdp,capital,tld,flag
0,Afghanistan,Asia,652230,25500100,2.036400e+10,Kabul,.af,//upload.wikimedia.org/wikipedia/commons/9/9a/...
1,Albania,Europe,28748,2821977,1.204400e+10,Tirana,.al,//upload.wikimedia.org/wikipedia/commons/3/36/...
2,Algeria,Africa,2381741,38700000,2.070210e+05,Algiers,.dz,//upload.wikimedia.org/wikipedia/commons/7/77/...
3,Andorra,Europe,468,76098,3.222000e+09,Andorra la Vella,.ad,//upload.wikimedia.org/wikipedia/commons/1/19/...
4,Angola,Africa,1246700,19183590,1.163080e+05,Luanda,.ao,//upload.wikimedia.org/wikipedia/commons/9/9d/...
...,...,...,...,...,...,...,...,...
385,Venezuela,South America,916445,28946101,3.824240e+05,Caracas,.ve,//upload.wikimedia.org/wikipedia/commons/0/06/...
386,Vietnam,Asia,331212,89708900,1.558200e+04,Hanoi,.vn,//upload.wikimedia.org/wikipedia/commons/2/21/...
387,Yemen,Asia,527968,25235000,3.283100e+10,Sana‚Äòa,.ye,//upload.wikimedia.org/wikipedia/commons/8/89/...
388,Zambia,Africa,752612,15023315,2.149000e+10,Lusaka,.zm,//upload.wikimedia.org/wikipedia/commons/0/06/...
389,Zimbabwe,Africa,390757,13061239,9.802000e+09,Harare,.zw,//upload.wikimedia.org/wikipedia/commons/6/6a/...

In [10]:
select * from world limit 5;
select * from EMP limit 5;

,EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
0,7369,SMITH,CLERK,7902,1980-12-17,800,NaN,20
1,7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300.0,30
2,7521,WARD,SALESMAN,7698,1981-02-22,1250,500.0,30
3,7566,JONES,MANAGER,7839,1981-04-02,2975,NaN,20
4,7654,MARTIN,SALESMAN,7698,1981-09-28,1250,1400.0,30

In [12]:
select * from world limit 4,5;

,name,continent,area,population,gdp,capital,tld,flag
0,Angola,Africa,1246700,19183590,1.163080e+05,Luanda,.ao,//upload.wikimedia.org/wikipedia/commons/9/9d/...
1,Antigua and Barbuda,Caribbean,442,86295,1.176000e+09,St. John's,.ag,//upload.wikimedia.org/wikipedia/commons/8/89/...
2,Argentina,South America,2780400,42669500,4.770280e+05,Buenos Aires,.ar,//upload.wikimedia.org/wikipedia/commons/1/1a/...
3,Armenia,Eurasia,29743,3017400,9.950000e+09,Yerevan,.am,//upload.wikimedia.org/wikipedia/commons/2/2f/...
4,Australia,Oceania,7692024,23545500,1.564420e+05,Canberra,.au,//upload.wikimedia.org/wikipedia/commons/b/b9/...

In [13]:
# Filter - where
select * from world
where name = "Slovakia"

,name,continent,area,population,gdp,capital,tld,flag
0,Slovakia,Europe,49037,5415949,9.134900e+10,Bratislava,.sk,//upload.wikimedia.org/wikipedia/commons/e/e6/...
1,Slovakia,Europe,49037,5415949,9.134900e+10,Bratislava,.sk,//upload.wikimedia.org/wikipedia/commons/e/e6/...

In [15]:
select capital, population, name, population
from world

,capital,population,name,population
0,Kabul,25500100,Afghanistan,25500100
1,Tirana,2821977,Albania,2821977
2,Algiers,38700000,Algeria,38700000
3,Andorra la Vella,76098,Andorra,76098
4,Luanda,19183590,Angola,19183590
...,...,...,...,...
385,Caracas,28946101,Venezuela,28946101
386,Hanoi,89708900,Vietnam,89708900
387,Sana‚Äòa,25235000,Yemen,25235000
388,Lusaka,15023315,Zambia,15023315
389,Harare,13061239,Zimbabwe,13061239

In [18]:
select name, population, area
from world
where name = "Slovakia"
or name = "Poland"
or name = "Hungary"

,name,population,area
0,Hungary,9879000,93028
1,Poland,38496000,312679
2,Slovakia,5415949,49037
3,Hungary,9879000,93028
4,Poland,38496000,312679
5,Slovakia,5415949,49037

In [19]:
select name, population, area
from world
where name in ("Hungary", "Slovakia", "Poland")

,name,population,area
0,Hungary,9879000,93028
1,Poland,38496000,312679
2,Slovakia,5415949,49037
3,Hungary,9879000,93028
4,Poland,38496000,312679
5,Slovakia,5415949,49037

In [21]:
select name, continent, population
from world
where population between 5000000 and 10000000

,name,continent,population
0,Austria,Europe,8504850
1,Azerbaijan,Asia,9477100
2,Belarus,Europe,9467000
3,Benin,Africa,9988068
4,Bulgaria,Europe,7245677
...,...,...,...
59,Switzerland,Europe,8160900
60,Tajikistan,Asia,8160000
61,Togo,Africa,6993000
62,Turkmenistan,Asia,5307000
63,United Arab Emirates,Asia,9446000

In [22]:
select * from EMP
where sal BETWEEN 1000 and 2500;

,EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
0,7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300.0,30
1,7521,WARD,SALESMAN,7698,1981-02-22,1250,500.0,30
2,7654,MARTIN,SALESMAN,7698,1981-09-28,1250,1400.0,30
3,7782,CLARK,MANAGER,7839,1981-06-09,2450,NaN,10
4,7844,TURNER,SALESMAN,7698,1981-09-08,1500,0.0,30
5,7876,ADAMS,CLERK,7788,1983-01-12,1100,NaN,20
6,7934,MILLER,CLERK,7782,1982-01-23,1300,NaN,10

In [27]:
# order by (Zotried)

/* select name, population from world
order by name DESC */

select name, population from world
order by population ASC

,name,population
0,Vatican City,839
1,Vatican City,839
2,Nauru,9945
3,Nauru,9945
4,Tuvalu,11323
...,...,...
385,United States,318320000
386,India,1246160000
387,India,1246160000
388,China,1365370000
389,China,1365370000

In [30]:
# Distinct, Group by Zoskupenie
select distinct continent from world
order by continent;

,continent
0,Africa
1,Asia
2,Caribbean
3,Eurasia
4,Europe
5,North America
6,Oceania
7,South America

In [32]:
# Distinct, Group by Zoskupenie
select continent from world
group by continent
order by continent;

,continent
0,Africa
1,Asia
2,Caribbean
3,Eurasia
4,Europe
5,North America
6,Oceania
7,South America

In [34]:
/*select count(*)
from world;*/

select count(name)
from world;

,count(name)
0,390

In [35]:
select *
from world;

,name,continent,area,population,gdp,capital,tld,flag
0,Afghanistan,Asia,652230,25500100,2.036400e+10,Kabul,.af,//upload.wikimedia.org/wikipedia/commons/9/9a/...
1,Albania,Europe,28748,2821977,1.204400e+10,Tirana,.al,//upload.wikimedia.org/wikipedia/commons/3/36/...
2,Algeria,Africa,2381741,38700000,2.070210e+05,Algiers,.dz,//upload.wikimedia.org/wikipedia/commons/7/77/...
3,Andorra,Europe,468,76098,3.222000e+09,Andorra la Vella,.ad,//upload.wikimedia.org/wikipedia/commons/1/19/...
4,Angola,Africa,1246700,19183590,1.163080e+05,Luanda,.ao,//upload.wikimedia.org/wikipedia/commons/9/9d/...
...,...,...,...,...,...,...,...,...
385,Venezuela,South America,916445,28946101,3.824240e+05,Caracas,.ve,//upload.wikimedia.org/wikipedia/commons/0/06/...
386,Vietnam,Asia,331212,89708900,1.558200e+04,Hanoi,.vn,//upload.wikimedia.org/wikipedia/commons/2/21/...
387,Yemen,Asia,527968,25235000,3.283100e+10,Sana‚Äòa,.ye,//upload.wikimedia.org/wikipedia/commons/8/89/...
388,Zambia,Africa,752612,15023315,2.149000e+10,Lusaka,.zm,//upload.wikimedia.org/wikipedia/commons/0/06/...
389,Zimbabwe,Africa,390757,13061239,9.802000e+09,Harare,.zw,//upload.wikimedia.org/wikipedia/commons/6/6a/...

In [36]:
select *, cast(HIREDATE as char) from EMP;

,EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,cast(HIREDATE as char)
0,7369,SMITH,CLERK,7902.0,1980-12-17,800,NaN,20,1980-12-17
1,7499,ALLEN,SALESMAN,7698.0,1981-02-20,1600,300.0,30,1981-02-20
2,7521,WARD,SALESMAN,7698.0,1981-02-22,1250,500.0,30,1981-02-22
3,7566,JONES,MANAGER,7839.0,1981-04-02,2975,NaN,20,1981-04-02
4,7654,MARTIN,SALESMAN,7698.0,1981-09-28,1250,1400.0,30,1981-09-28
5,7698,BLAKE,MANAGER,7839.0,1981-05-01,2850,NaN,30,1981-05-01
6,7782,CLARK,MANAGER,7839.0,1981-06-09,2450,NaN,10,1981-06-09
7,7788,SCOTT,ANALYST,7566.0,1982-12-09,3000,NaN,20,1982-12-09
8,7839,KING,PRESIDENT,NaN,1981-11-17,5000,NaN,10,1981-11-17
9,7844,TURNER,SALESMAN,7698.0,1981-09-08,1500,0.0,30,1981-09-08
10,7876,ADAMS,CLERK,7788.0,1983-01-12,1100,NaN,20,1983-01-12
11,7900,JAMES,CLERK,7698.0,1981-12-03,950,NaN,30,1981-12-03
12,7902,FORD,ANALYST,7566.0,1981-12-03,3000,NaN,20,1981-12-03
13,7934,MILLER,CLERK,7782.0,1982-01-23,1300,NaN,10,1982-01-23

In [37]:
select cast('2023-11-29' as date);

,cast('2023-11-29' as date)
0,2023-11-29

# Pripojenie DB

# üìö In≈°tal√°cia a Importy Potrebn√Ωch Kni≈æn√≠c
**PIP (package installer for Python)** - Spr√°vca Bal√≠ƒçkov pre moduly programovacieho jazyka Python, Tie≈æ nap√≠san√Ω v Pythone, Licencia MIT.  
Dokument√°cia PIP: https://pip.pypa.io/en/stable/

**PyPI (The Python Package Index)** - Repozit√°r/√∫lo≈æisko softv√©ru pre programovac√≠ jazyk Python  
https://pypi.org

```python
# !pip list  
# !pip install pymysql  
# !pip install psycopg2

# import pymysql  
import pymysql as mys
import psycopg2 as ps
```
## Dokument√°cia
[MySQL pymysql](https://pypi.org/project/pymysql/)  
[PostgreSQL - psycopg2](https://pypi.org/project/psycopg2/)

In [3]:
 
# DBMS Kni≈ænice
 

 
# Linuxom ch√Ωba ODBC driver manage
# Treba doin≈°talova≈• UnixODBC
# Debian/Ubuntu: sudo apt-get install unixodbc unixodbc-dev
# Red Hat/CentOS/Fedora: sudo yum install unixODBC unixODBC-devel
# import pyodbc

# Tabuƒæky, Oper√°cie
 

# Environ

Requirement already satisfied: mysql-connector-python in /opt/python/envs/default/lib/python3.8/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /opt/python/envs/default/lib/python3.8/site-packages (from mysql-connector-python) (4.21.12)

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pymysql in /opt/python/envs/default/lib/python3.8/site-packages (1.0.3)

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: cx_Oracle in /opt/python/envs/default/lib/python3.8/site-packages (8.3.0)
Requirement already satisfied: pyodbc in /opt/python/envs/default/lib/python3.8/site-packages (5.0.1)
Requirement already satisfied: sqlalchemy in /opt/python/envs/default/lib/python3.8/site-packages (2.0.13)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/python/envs/default/lib/python3.8/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/python/envs/default/lib/python3.8/site-packages (from sqlalchemy) (3.0.1)

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

# üê¨ Pripojenie sa na DB MySQL
In≈°tal√°tor: https://dev.mysql.com/downloads/mysql/ | https://www.wampserver.com/en/  
Porty: 3306-3311  
User: root  
Heslo: bez (Wamp)/vase(MySQL Installer)  
JDBC driver: https://dev.mysql.com/downloads/connector/j/

(7369, 'SMITH', 'CLERK', 7902, datetime.date(1980, 12, 17), 800, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.date(1981, 2, 20), 1600, 300, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.date(1981, 4, 2), 2975, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.date(1981, 9, 28), 1250, 1400, 30)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.date(1981, 5, 1), 2850, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.date(1981, 6, 9), 2450, None, 10)
(7788, 'SCOTT', 'ANALYST', 7566, datetime.date(1982, 12, 9), 3000, None, 20)
(7839, 'KING', 'PRESIDENT', None, datetime.date(1981, 11, 17), 5000, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.date(1981, 9, 8), 1500, 0, 30)
(7876, 'ADAMS', 'CLERK', 7788, datetime.date(1983, 1, 12), 1100, None, 20)
(7900, 'JAMES', 'CLERK', 7698, datetime.date(1981, 12, 3), 950, None, 30)
(7902, 'FORD', 'ANALYST', 7566, datetime.date(1981, 12, 3), 3000, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.date(1982, 1, 23), 1300, None, 10)

# ü¶¢ Pripojenie sa na DB sqlite
In≈°tal√°tor: https://www.sqlite.org/download.html  
Porty: nem√° porty

(1, 'Lu√≠s', 'Gon√ßalves', 'Embraer - Empresa Brasileira de Aeron√°utica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'S√£o Jos√© dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)
(2, 'Leonie', 'K√∂hler', None, 'Theodor-Heuss-Stra√üe 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5)
(3, 'Fran√ßois', 'Tremblay', None, '1498 rue B√©langer', 'Montr√©al', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3)
(4, 'Bj√∏rn', 'Hansen', None, 'Ullev√•lsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4)
(5, 'Franti≈°ek', 'Wichterlov√°', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)
(6, 'Helena', 'Hol√Ω', None, 'Rilsk√° 3174/6', 'Prague', None, 'Czech Republic', '14300', '+420 2 4177 0449', None, 'hholy@gmail.com', 5)
(7, 'Astrid', 'Gruber', None, 'Rotenturmstra√üe 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', '+43 01 5134505', None, 'astrid.gruber@apple.at', 5)
(8, 'Daan', 'Peeters', None, 'Gr√©trystraat 63', 'Brussels', None, 'Belgium', '1000', '+32 02 219 03 03', None, 'daan_peeters@apple.be', 4)
(9, 'Kara', 'Nielsen', None, 'S√∏nder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', '+453 3331 9991', None, 'kara.nielsen@jubii.dk', 4)
(10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falc√£o Filho, 155', 'S√£o Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br', 4)
(11, 'Alexandre', 'Rocha', 'Banco do Brasil S.A.', 'Av. Paulista, 2022', 'S√£o Paulo', 'SP', 'Brazil', '01310-200', '+55 (11) 3055-3278', '+55 (11) 3055-8131', 'alero@uol.com.br', 5)
(12, 'Roberto', 'Almeida', 'Riotur', 'Pra√ßa Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', '+55 (21) 2271-7000', '+55 (21) 2271-7070', 'roberto.almeida@riotur.gov.br', 3)
(13, 'Fernanda', 'Ramos', None, 'Qe 7 Bloco G', 'Bras√≠lia', 'DF', 'Brazil', '71020-677', '+55 (61) 3363-5547', '+55 (61) 3363-7855', 'fernadaramos4@uol.com.br', 4)
(14, 'Mark', 'Philips', 'Telus', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', '+1 (780) 434-4554', '+1 (780) 434-5565', 'mphilips12@shaw.ca', 5)
(15, 'Jennifer', 'Peterson', 'Rogers Canada', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', '+1 (604) 688-2255', '+1 (604) 688-8756', 'jenniferp@rogers.ca', 3)
(16, 'Frank', 'Harris', 'Google Inc.', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', '+1 (650) 253-0000', '+1 (650) 253-0000', 'fharris@google.com', 4)
(17, 'Jack', 'Smith', 'Microsoft Corporation', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', '+1 (425) 882-8080', '+1 (425) 882-8081', 'jacksmith@microsoft.com', 5)
(18, 'Michelle', 'Brooks', None, '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', '+1 (212) 221-3546', '+1 (212) 221-4679', 'michelleb@aol.com', 3)
(19, 'Tim', 'Goyer', 'Apple Inc.', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', '+1 (408) 996-1010', '+1 (408) 996-1011', 'tgoyer@apple.com', 3)
(20, 'Dan', 'Miller', None, '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', '+1 (650) 644-3358', None, 'dmiller@comcast.com', 4)
(21, 'Kathy', 'Chase', None, '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', '+1 (775) 223-7665', None, 'kachase@hotmail.com', 5)
(22, 'Heather', 'Leacock', None, '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', '+1 (407) 999-7788', None, 'hleacock@gmail.com', 4)
(23, 'John', 'Gordon', None, '69 Salem Street', 'Boston', 'MA', 'USA', '2113', '+1 (617) 522-1333', None, 'johngordon22@yahoo.com', 4)
(24, 'Frank', 'Ralston', None, '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', '+1 (312) 332-3232', None, 'fralston@gmail.com', 3)
(25, 'Victor', 'Stevens', None, '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', '+1 (608) 257-0597', None, 'vstevens@yahoo.com', 5)
(26, 'Richard', 'Cunningham', None, '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', '+1 (817) 924-7272', None, 'ricunningham@hotmail.com', 4)
(27, 'Patrick', 'Gray', None, '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', '+1 (520) 622-4200', None, 'patrick.gray@aol.com', 4)
(28, 'Julia', 'Barnett', None, '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', '+1 (801) 531-7272', None, 'jubarnett@gmail.com', 5)
(29, 'Robert', 'Brown', None, '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', '+1 (416) 363-8888', None, 'robbrown@shaw.ca', 3)
(30, 'Edward', 'Francis', None, '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', '+1 (613) 234-3322', None, 'edfrancis@yachoo.ca', 3)
(31, 'Martha', 'Silk', None, '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', '+1 (902) 450-0450', None, 'marthasilk@gmail.com', 5)
(32, 'Aaron', 'Mitchell', None, '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', '+1 (204) 452-6452', None, 'aaronmitchell@yahoo.ca', 4)
(33, 'Ellie', 'Sullivan', None, '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', '+1 (867) 920-2233', None, 'ellie.sullivan@shaw.ca', 3)
(34, 'Jo√£o', 'Fernandes', None, 'Rua da Assun√ß√£o 53', 'Lisbon', None, 'Portugal', None, '+351 (213) 466-111', None, 'jfernandes@yahoo.pt', 4)
(35, 'Madalena', 'Sampaio', None, 'Rua dos Campe√µes Europeus de Viena, 4350', 'Porto', None, 'Portugal', None, '+351 (225) 022-448', None, 'masampaio@sapo.pt', 4)
(36, 'Hannah', 'Schneider', None, 'Tauentzienstra√üe 8', 'Berlin', None, 'Germany', '10789', '+49 030 26550280', None, 'hannah.schneider@yahoo.de', 5)
(37, 'Fynn', 'Zimmermann', None, 'Berger Stra√üe 10', 'Frankfurt', None, 'Germany', '60316', '+49 069 40598889', None, 'fzimmermann@yahoo.de', 3)
(38, 'Niklas', 'Schr√∂der', None, 'Barbarossastra√üe 19', 'Berlin', None, 'Germany', '10779', '+49 030 2141444', None, 'nschroder@surfeu.de', 3)
(39, 'Camille', 'Bernard', None, '4, Rue Milton', 'Paris', None, 'France', '75009', '+33 01 49 70 65 65', None, 'camille.bernard@yahoo.fr', 4)
(40, 'Dominique', 'Lefebvre', None, '8, Rue Hanovre', 'Paris', None, 'France', '75002', '+33 01 47 42 71 71', None, 'dominiquelefebvre@gmail.com', 4)
(41, 'Marc', 'Dubois', None, '11, Place Bellecour', 'Lyon', None, 'France', '69002', '+33 04 78 30 30 30', None, 'marc.dubois@hotmail.com', 5)
(42, 'Wyatt', 'Girard', None, '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', '+33 05 56 96 96 96', None, 'wyatt.girard@yahoo.fr', 3)
(43, 'Isabelle', 'Mercier', None, '68, Rue Jouvence', 'Dijon', None, 'France', '21000', '+33 03 80 73 66 99', None, 'isabelle_mercier@apple.fr', 3)
(44, 'Terhi', 'H√§m√§l√§inen', None, 'Porthaninkatu 9', 'Helsinki', None, 'Finland', '00530', '+358 09 870 2000', None, 'terhi.hamalainen@apple.fi', 3)
(45, 'Ladislav', 'Kov√°cs', None, 'Erzs√©bet krt. 58.', 'Budapest', None, 'Hungary', 'H-1073', None, None, 'ladislav_kovacs@apple.hu', 3)
(46, 'Hugh', "O'Reilly", None, '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, '+353 01 6792424', None, 'hughoreilly@apple.ie', 3)
(47, 'Lucas', 'Mancini', None, 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', '+39 06 39733434', None, 'lucas.mancini@yahoo.it', 5)
(48, 'Johannes', 'Van der Berg', None, 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', '+31 020 6223130', None, 'johavanderberg@yahoo.nl', 5)
(49, 'Stanis≈Çaw', 'W√≥jcik', None, 'Ordynacka 10', 'Warsaw', None, 'Poland', '00-358', '+48 22 828 37 39', None, 'stanis≈Çaw.w√≥jcik@wp.pl', 4)
(50, 'Enrique', 'Mu√±oz', None, 'C/ San Bernardo 85', 'Madrid', None, 'Spain', '28015', '+34 914 454 454', None, 'enrique_munoz@yahoo.es', 5)
(51, 'Joakim', 'Johansson', None, 'Celsiusg. 9', 'Stockholm', None, 'Sweden', '11230', '+46 08-651 52 52', None, 'joakim.johansson@yahoo.se', 5)
(52, 'Emma', 'Jones', None, '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', '+44 020 7707 0707', None, 'emma_jones@hotmail.com', 3)
(53, 'Phil', 'Hughes', None, '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', '+44 020 7976 5722', None, 'phil.hughes@gmail.com', 3)
(54, 'Steve', 'Murray', None, '110 Raeburn Pl', 'Edinburgh ', None, 'United Kingdom', 'EH4 1HH', '+44 0131 315 3300', None, 'steve.murray@yahoo.uk', 5)
(55, 'Mark', 'Taylor', None, '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', '+61 (02) 9332 3633', None, 'mark.taylor@yahoo.au', 4)
(56, 'Diego', 'Guti√©rrez', None, '307 Macacha G√ºemes', 'Buenos Aires', None, 'Argentina', '1106', '+54 (0)11 4311 4333', None, 'diego.gutierrez@yahoo.ar', 4)
(57, 'Luis', 'Rojas', None, 'Calle Lira, 198', 'Santiago', None, 'Chile', None, '+56 (0)2 635 4444', None, 'luisrojas@yahoo.cl', 5)
(58, 'Manoj', 'Pareek', None, '12,Community Centre', 'Delhi', None, 'India', '110017', '+91 0124 39883988', None, 'manoj.pareek@rediff.com', 3)
(59, 'Puja', 'Srivastava', None, '3,Raj Bhavan Road', 'Bangalore', None, 'India', '560001', '+91 080 22289999', None, 'puja_srivastava@yahoo.in', 3)

# üêò Pripojenie sa na DB PostgreSQL
In≈°tal√°tor: https://www.postgresql.org/download/windows/  
Porty: 5432  
User: postgres  
Heslo: vase (PostgreSQL installer)  
JDBC driver: https://jdbc.postgresql.org/download.html

('Afghanistan', 'Asia', 652230, 25500100, 20364000000.0, 'Kabul', '.af', '//upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Afghanistan.svg')
('Albania', 'Europe', 28748, 2821977, 12044000000.0, 'Tirana', '.al', '//upload.wikimedia.org/wikipedia/commons/3/36/Flag_of_Albania.svg')
('Algeria', 'Africa', 2381741, 38700000, 207021.0, 'Algiers', '.dz', '//upload.wikimedia.org/wikipedia/commons/7/77/Flag_of_Algeria.svg')
('Andorra', 'Europe', 468, 76098, 3222000000.0, 'Andorra la Vella', '.ad', '//upload.wikimedia.org/wikipedia/commons/1/19/Flag_of_Andorra.svg')
('Angola', 'Africa', 1246700, 19183590, 116308.0, 'Luanda', '.ao', '//upload.wikimedia.org/wikipedia/commons/9/9d/Flag_of_Angola.svg')
('Antigua and Barbuda', 'Caribbean', 442, 86295, 1176000000.0, "St. John's", '.ag', '//upload.wikimedia.org/wikipedia/commons/8/89/Flag_of_Antigua_and_Barbuda.svg')
('Argentina', 'South America', 2780400, 42669500, 477028.0, 'Buenos Aires', '.ar', '//upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg')
('Armenia', 'Eurasia', 29743, 3017400, 9950000000.0, 'Yerevan', '.am', '//upload.wikimedia.org/wikipedia/commons/2/2f/Flag_of_Armenia.svg')
('Australia', 'Oceania', 7692024, 23545500, 156442.0, 'Canberra', '.au', '//upload.wikimedia.org/wikipedia/commons/b/b9/Flag_of_Australia.svg')
('Austria', 'Europe', 83871, 8504850, 394458.0, 'Vienna', '.at', '//upload.wikimedia.org/wikipedia/commons/4/41/Flag_of_Austria.svg')
('Azerbaijan', 'Asia', 86600, 9477100, 68727000000.0, 'Baku', '.az', '//upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg')
('Bahamas', 'Caribbean', 13878, 351461, 8043000000.0, 'Nassau', '.bs', '//upload.wikimedia.org/wikipedia/commons/9/93/Flag_of_the_Bahamas.svg')
('Bahrain', 'Asia', 765, 1234571, 30362000000.0, 'Manama', '.bh', '//upload.wikimedia.org/wikipedia/commons/f/f9/Flag_of_Bahrain_1972.svg')
('Bangladesh', 'Asia', 147570, 156557000, 127195.0, 'Dhaka', '.bd', '//upload.wikimedia.org/wikipedia/commons/f/f9/Flag_of_Bangladesh.svg')
('Barbados', 'Caribbean', 430, 285000, 4533000000.0, 'Bridgetown', '.bb', '//upload.wikimedia.org/wikipedia/commons/e/ef/Flag_of_Barbados.svg')
('Belarus', 'Europe', 207600, 9467000, 63259000000.0, 'Minsk', '.by', '//upload.wikimedia.org/wikipedia/commons/8/85/Flag_of_Belarus.svg')
('Belgium', 'Europe', 30528, 11198638, 483402.0, 'City of Brussels', '.be', '//upload.wikimedia.org/wikipedia/commons/6/65/Flag_of_Belgium.svg')
('Belize', 'North America', 22966, 349728, 1554000000.0, 'Belmopan', '.bz', '//upload.wikimedia.org/wikipedia/commons/e/e7/Flag_of_Belize.svg')
('Benin', 'Africa', 112622, 9988068, 7557000000.0, 'Porto-Novo', '.bj', '//upload.wikimedia.org/wikipedia/commons/0/0a/Flag_of_Benin.svg')
('Bhutan', 'Asia', 38394, 749090, 1861000000.0, 'Thimphu', '.bt', '//upload.wikimedia.org/wikipedia/commons/9/91/Flag_of_Bhutan.svg')
('Bolivia', 'South America', 1098581, 10027254, 27035000000.0, 'Sucre', '.bo', '//upload.wikimedia.org/wikipedia/commons/4/48/Flag_of_Bolivia.svg')
('Bosnia and Herzegovina', 'Europe', 51209, 3791622, 17319000000.0, 'Sarajevo', '.ba', '//upload.wikimedia.org/wikipedia/commons/b/bf/Flag_of_Bosnia_and_Herzegovina.svg')
('Botswana', 'Africa', 582000, 2024904, 14410000000.0, 'Gaborone', '.bw', '//upload.wikimedia.org/wikipedia/commons/f/fa/Flag_of_Botswana.svg')
('Brazil', 'South America', 8515767, 202794000, 225411.0, 'Bras√≠lia', '.br', '//upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg')
('Brunei', 'Asia', 5765, 393162, 16954000000.0, 'Bandar Seri Begawan', '.bn', '//upload.wikimedia.org/wikipedia/commons/9/9c/Flag_of_Brunei.svg')
('Bulgaria', 'Europe', 110879, 7245677, 50972000000.0, 'Sofia', '.bg', '//upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Bulgaria.svg')
('Burkina Faso', 'Africa', 272967, 17322796, 10687000000.0, 'Ouagadougou', '.bf', '//upload.wikimedia.org/wikipedia/commons/3/31/Flag_of_Burkina_Faso.svg')
('Burundi', 'Africa', 27834, 9420248, 2257000000.0, 'Bujumbura', '.bi', '//upload.wikimedia.org/wikipedia/commons/5/50/Flag_of_Burundi.svg')
('Cambodia', 'Asia', 181035, 15184116, 14038000000.0, 'Phnom Penh', '.kh', '//upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_Cambodia.svg')
('Cameroon', 'Africa', 475442, 20386799, 26094000000.0, 'Yaound√©', '.cm', '//upload.wikimedia.org/wikipedia/commons/4/4f/Flag_of_Cameroon.svg')
('Canada', 'North America', 9984670, 35427524, 1585.0, 'Ottowa', '.ca', '//upload.wikimedia.org/wikipedia/en/c/cf/Flag_of_Canada.svg')
('Cape Verde', 'Africa', 4033, 491875, 1903000000.0, 'Praia', '.cv', '//upload.wikimedia.org/wikipedia/commons/3/38/Flag_of_Cape_Verde.svg')
('Central African Republic', 'Africa', 622984, 4709000, 2184000000.0, 'Bangui', '.cf', '//upload.wikimedia.org/wikipedia/commons/6/6f/Flag_of_the_Central_African_Republic.svg')
('Chad', 'Africa', 1284000, 13211000, 10183000000.0, "N'Djamena", '.td', '//upload.wikimedia.org/wikipedia/commons/4/4b/Flag_of_Chad.svg')
('Chile', 'South America', 756102, 17773000, 268314.0, 'Santiago', '.cl', '//upload.wikimedia.org/wikipedia/commons/7/78/Flag_of_Chile.svg')
('China', 'Asia', 9596961, 1365370000, 83584.0, 'Beijing', '.cn', '//upload.wikimedia.org/wikipedia/commons/f/fa/Flag_of_the_People%27s_Republic_of_China.svg')
('Colombia', 'South America', 1141748, 47662000, 369813.0, 'Bogot√°', '.co', '//upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Colombia.svg')
('Comoros', 'Africa', 1862, 743798, 616000000.0, 'Moroni', '.km', '//upload.wikimedia.org/wikipedia/commons/9/94/Flag_of_the_Comoros.svg')
('Congo, Democratic Republic of', 'Africa', 2345000, 69360000, None, 'Kinshasa', '.cd', '//upload.wikimedia.org/wikipedia/commons/6/6f/Flag_of_the_Democratic_Republic_of_the_Congo.svg')
('Congo, Republic of', 'Africa', 342000, 4559000, None, 'Brazzaville', '.cg', '//upload.wikimedia.org/wikipedia/commons/9/92/Flag_of_the_Republic_of_the_Congo.svg')
('Costa Rica', 'North America', 51100, 4667096, 45107000000.0, 'San Jos√©', '.cr', '//upload.wikimedia.org/wikipedia/commons/f/f2/Flag_of_Costa_Rica.svg')
("C√¥te d'Ivoire", 'Africa', 322483, 23919000, 34506000000.0, 'Yamoussoukro', '.ci', '//upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_C%C3%B4te_d%27Ivoire.svg')
('Croatia', 'Europe', 56594, 4290612, 56447000000.0, 'Zagreb', '.hr', '//upload.wikimedia.org/wikipedia/commons/1/1b/Flag_of_Croatia.svg')
('Cuba', 'Caribbean', 109884, 11167325, 71017000000.0, 'Havana', '.cu', '//upload.wikimedia.org/wikipedia/commons/b/bd/Flag_of_Cuba.svg')
('Cyprus', 'Asia', 9251, 865878, 22768000000.0, 'Nicosia', '.cy', '//upload.wikimedia.org/wikipedia/commons/d/d4/Flag_of_Cyprus.svg')
('Czech Republic', 'Europe', 78865, 10517400, 196446.0, 'Prague', '.cz', '//upload.wikimedia.org/wikipedia/commons/c/cb/Flag_of_the_Czech_Republic.svg')
('Denmark', 'Europe', 43094, 5634437, 314889.0, 'Copenhagen', '.dk', '//upload.wikimedia.org/wikipedia/commons/9/9c/Flag_of_Denmark.svg')
('Djibouti', 'Africa', 23200, 886000, 1361000000.0, 'Djibouti', '.dj', '//upload.wikimedia.org/wikipedia/commons/3/34/Flag_of_Djibouti.svg')
('Dominica', 'Caribbean', 751, 71293, 499000000.0, 'Roseau', '.dm', '//upload.wikimedia.org/wikipedia/commons/c/c4/Flag_of_Dominica.svg')
('Dominican Republic', 'Caribbean', 48671, 9445281, 58898000000.0, 'Santo Domingo', '.do', '//upload.wikimedia.org/wikipedia/commons/9/9f/Flag_of_the_Dominican_Republic.svg')
('Ecuador', 'South America', 276841, 15774200, 87495000000.0, 'Quito', '.ec', '//upload.wikimedia.org/wikipedia/commons/e/e8/Flag_of_Ecuador.svg')
('Egypt', 'Asia', 1002450, 86736900, 254671.0, 'Cairo', '.eg', '//upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_Egypt.svg')
('El Salvador', 'North America', 21041, 6384000, 23864000000.0, 'San Salvador', '.sv', '//upload.wikimedia.org/wikipedia/commons/3/34/Flag_of_El_Salvador.svg')
('Equatorial Guinea', 'Africa', 28051, 1622000, 14491000000.0, 'Malabo', '.gq', '//upload.wikimedia.org/wikipedia/commons/3/31/Flag_of_Equatorial_Guinea.svg')
('Eritrea', 'Africa', 117600, 6536000, 3108000000.0, 'Asmara', '.er', '//upload.wikimedia.org/wikipedia/commons/2/29/Flag_of_Eritrea.svg')
('Estonia', 'Europe', 45227, 1315819, 22376000000.0, 'Tallinn', '.ee', '//upload.wikimedia.org/wikipedia/commons/8/8f/Flag_of_Estonia.svg')
('Ethiopia', 'Africa', 1104300, 87952991, 41605000000.0, 'Addis Ababa', '.et', '//upload.wikimedia.org/wikipedia/commons/7/71/Flag_of_Ethiopia.svg')
('Fiji', 'Oceania', 18272, 858038, 3999000000.0, 'Suva', '.fj', '//upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Fiji.svg')
('Finland', 'Europe', 338424, 5458038, 247389.0, 'Helsinki', '.fi', '//upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Finland.svg')
('France', 'Europe', 640679, 65906000, 261122.0, 'Paris', '.fr', '//upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg')
('Gabon', 'Africa', 267668, 1711000, 24076000000.0, 'Libreville', '.ga', '//upload.wikimedia.org/wikipedia/commons/0/04/Flag_of_Gabon.svg')
('Gambia', 'Africa', 11295, 1882450, None, 'Banjul', '.gm', '//upload.wikimedia.org/wikipedia/commons/7/77/Flag_of_The_Gambia.svg')
('Georgia', 'Asia', 69700, 4490500, 15830000000.0, 'Tbilisi', '.ge', '//upload.wikimedia.org/wikipedia/commons/0/0f/Flag_of_Georgia.svg')
('Germany', 'Europe', 357114, 80716000, 342596.0, 'Bonn', '.de', '//upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg')
('Ghana', 'Africa', 238533, 27043093, 40711000000.0, 'Accra', '.gh', '//upload.wikimedia.org/wikipedia/commons/1/19/Flag_of_Ghana.svg')
('Greece', 'Europe', 131990, 11123034, 248941.0, 'Athens', '.gr', '//upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Greece.svg')
('Grenada', 'Caribbean', 344, 103328, 783000000.0, "St. George's", '.gd', '//upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Grenada.svg')
('Guatemala', 'North America', 108889, 15806675, 50377000000.0, 'Guatemala City', '.gt', '//upload.wikimedia.org/wikipedia/commons/e/ec/Flag_of_Guatemala.svg')
('Guinea', 'Africa', 245857, 10824200, 6092000000.0, 'Conakry', '.gn', '//upload.wikimedia.org/wikipedia/commons/e/ed/Flag_of_Guinea.svg')
('Guinea-Bissau', 'Africa', 36125, 1746000, 849000000.0, 'Bissau', '.gw', '//upload.wikimedia.org/wikipedia/commons/0/01/Flag_of_Guinea-Bissau.svg')
('Guyana', 'South America', 214969, 784894, 2851000000.0, 'Georgetown', '.gy', '//upload.wikimedia.org/wikipedia/commons/9/99/Flag_of_Guyana.svg')
('Haiti', 'Caribbean', 27750, 10413211, 7187000000.0, 'Port-au-Prince', '.ht', '//upload.wikimedia.org/wikipedia/commons/5/58/Flag_of_Haiti_%281964-1986%29.svg')
('Honduras', 'North America', 112492, 8555072, 18564000000.0, 'Tegucigalpa', '.hn', '//upload.wikimedia.org/wikipedia/commons/8/82/Flag_of_Honduras.svg')
('Hungary', 'Europe', 93028, 9879000, 1246.0, 'Budapest', '.hu', '//upload.wikimedia.org/wikipedia/commons/c/c1/Flag_of_Hungary.svg')
('Iceland', 'Europe', 103000, 326340, 13579000000.0, 'Reykjav√≠k', '.is', '//upload.wikimedia.org/wikipedia/commons/c/ce/Flag_of_Iceland.svg')
('India', 'Asia', 3166414, 1246160000, 187521.0, 'New Delhi', '.in', '//upload.wikimedia.org/wikipedia/commons/4/41/Flag_of_India.svg')
('Indonesia', 'Asia', 1904569, 252164800, 878043.0, 'Jakarta', '.id', '//upload.wikimedia.org/wikipedia/commons/9/9f/Flag_of_Indonesia.svg')
('Iran', 'Asia', 1648195, 77552000, 551588.0, 'Tehran', '.ir', '//upload.wikimedia.org/wikipedia/commons/c/ca/Flag_of_Iran.svg')
('Iraq', 'Asia', 438317, 36004552, 14937.0, 'Baghdad', '.iq', '//upload.wikimedia.org/wikipedia/commons/f/f6/Flag_of_Iraq.svg')
('Ireland', 'Europe', 70273, 4593100, 210638.0, 'Dublin', '.ie', '//upload.wikimedia.org/wikipedia/commons/4/45/Flag_of_Ireland.svg')
('Israel', 'Asia', 20770, 8193900, 241069.0, 'Jerusalem', '.il', '//upload.wikimedia.org/wikipedia/commons/d/d4/Flag_of_Israel.svg')
('Italy', 'Europe', 301336, 60782668, 201339.0, 'Rome', '.it', '//upload.wikimedia.org/wikipedia/commons/0/03/Flag_of_Italy.svg')
('Jamaica', 'Caribbean', 10991, 2717991, 14795000000.0, 'Kingston', '.jm', '//upload.wikimedia.org/wikipedia/commons/0/0a/Flag_of_Jamaica.svg')
('Japan', 'Asia', 377930, 127090000, 596018.0, 'Imperial Tokyo', '.jp', '//upload.wikimedia.org/wikipedia/commons/9/9e/Flag_of_Japan.svg')
('Jordan', 'Asia', 89342, 6602190, 30937000000.0, 'Amman', '.jo', '//upload.wikimedia.org/wikipedia/commons/c/c0/Flag_of_Jordan.svg')
('Kazakhstan', 'Europe', 2724900, 17244000, 202656.0, 'Astana', '.kz', '//upload.wikimedia.org/wikipedia/commons/d/d3/Flag_of_Kazakhstan.svg')
('Kenya', 'Africa', 580367, 45546000, 40697000000.0, 'Nairobi', '.ke', '//upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Kenya.svg')
('Kiribati', 'Oceania', 811, 106461, 176000000.0, 'South Tarawa', '.ki', '//upload.wikimedia.org/wikipedia/commons/d/d3/Flag_of_Kiribati.svg')
('Kuwait', 'Asia', 17818, 3065850, 183219.0, 'Kuwait City', '.kw', '//upload.wikimedia.org/wikipedia/commons/a/aa/Flag_of_Kuwait.svg')
('Kyrgyzstan', 'Asia', 199951, 5776570, 6475000000.0, 'Bishkek', '.kg', '//upload.wikimedia.org/wikipedia/commons/c/c7/Flag_of_Kyrgyzstan.svg')
('Laos', 'Asia', 236800, 6580800, 9100000000.0, 'Vientiane', '.la', '//upload.wikimedia.org/wikipedia/commons/5/56/Flag_of_Laos.svg')
('Latvia', 'Europe', 64559, 1996500, 28379000000.0, 'Riga', '.lv', '//upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Latvia.svg')
('Lebanon', 'Asia', 10452, 4966000, 42490000000.0, 'Beirut', '.lb', '//upload.wikimedia.org/wikipedia/commons/5/59/Flag_of_Lebanon.svg')
('Lesotho', 'Africa', 30355, 2098000, 2443000000.0, 'Maseru', '.ls', '//upload.wikimedia.org/wikipedia/commons/c/c0/Flag_of_Lesotho_%281987-2006%29.svg')
('Liberia', 'Africa', 111369, 4397000, 1491000000.0, 'Monrovia', '.lr', '//upload.wikimedia.org/wikipedia/commons/b/b8/Flag_of_Liberia.svg')
('Libya', 'Africa', 1759540, 6253000, 95802000000.0, 'Tripoli', '.ly', '//upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Libya.svg')
('Liechtenstein', 'Europe', 160, 37132, 5827000000.0, 'Vaduz', '.li', '//upload.wikimedia.org/wikipedia/commons/4/47/Flag_of_Liechtenstein.svg')
('Lithuania', 'Europe', 65300, 2939431, 42339000000.0, 'Vilnius', '.lt', '//upload.wikimedia.org/wikipedia/commons/1/11/Flag_of_Lithuania.svg')
('Luxembourg', 'Europe', 2586, 549700, 55143000000.0, 'Luxembourg', '.lu', '//upload.wikimedia.org/wikipedia/commons/d/da/Flag_of_Luxembourg.svg')
('Macedonia', 'Europe', 25713, 2062294, None, 'Skopje', '.mk', '//upload.wikimedia.org/wikipedia/commons/f/f8/Flag_of_Macedonia.svg')
('Madagascar', 'Africa', 587041, 21263403, 9968000000.0, 'Antananarivo', '.mg', '//upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Madagascar.svg')
('Malawi', 'Africa', 118484, 16829000, 5653000000.0, 'Lilongwe', '.mw', '//upload.wikimedia.org/wikipedia/commons/1/10/Flag_of_Malawi_%282010-2012%29.svg')
('Malaysia', 'Asia', 330803, 30177000, 304726.0, 'Kuala Lumpur', '.my', '//upload.wikimedia.org/wikipedia/commons/6/66/Flag_of_Malaysia.svg')
('Maldives', 'Asia', 300, 317280, 2606000000.0, 'Mal√©', '.mv', '//upload.wikimedia.org/wikipedia/commons/0/0f/Flag_of_Maldives.svg')
('Mali', 'Africa', 1240192, 15768000, 10262000000.0, 'Bamako', '.ml', '//upload.wikimedia.org/wikipedia/commons/9/92/Flag_of_Mali.svg')
('Malta', 'Europe', 316, 416055, 8775000000.0, 'Valletta', '.mt', '//upload.wikimedia.org/wikipedia/commons/7/73/Flag_of_Malta.svg')
('Marshall Islands', 'Oceania', 181, 56086, 198000000.0, 'Majuro', '.mh', '//upload.wikimedia.org/wikipedia/commons/2/2e/Flag_of_the_Marshall_Islands.svg')
('Mauritania', 'Africa', 1030700, 3461041, 3866000000.0, 'Nouakchott', '.mr', '//upload.wikimedia.org/wikipedia/commons/4/43/Flag_of_Mauritania.svg')
('Mauritius', 'Africa', 2040, 1257900, 11452000000.0, 'Port Louis', '.mu', '//upload.wikimedia.org/wikipedia/commons/7/77/Flag_of_Mauritius.svg')
('Mexico', 'North America', 1964375, 119713203, 118366.0, 'Mexico City', '.mx', '//upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg')
('Micronesia, Federated States of', 'Oceania', 702, 101351, 327000000.0, 'Palikir', '.fm', '//upload.wikimedia.org/wikipedia/commons/e/e4/Flag_of_the_Federated_States_of_Micronesia.svg')
('Moldova', 'Europe', 33846, 3557600, 7253000000.0, 'Chi»ôinƒÉu', '.md', '//upload.wikimedia.org/wikipedia/commons/2/27/Flag_of_Moldova.svg')
('Monaco', 'Europe', 2, 36950, 5707000000.0, 'Monaco-Ville', '.mc', '//upload.wikimedia.org/wikipedia/commons/e/ea/Flag_of_Monaco.svg')
('Mongolia', 'Asia', 1564110, 2931300, 10271000000.0, 'Ulaanbaatar', '.mn', '//upload.wikimedia.org/wikipedia/commons/4/4c/Flag_of_Mongolia.svg')
('Montenegro', 'Europe', 13812, 620029, 4046000000.0, 'Podgorica', '.me', '//upload.wikimedia.org/wikipedia/commons/6/64/Flag_of_Montenegro.svg')
('Morocco', 'Africa', 446550, 33307500, 95992000000.0, 'Rabat', '.ma', '//upload.wikimedia.org/wikipedia/commons/2/2c/Flag_of_Morocco.svg')
('Mozambique', 'Africa', 801590, 23700715, 14605000000.0, 'Maputo', '.mz', '//upload.wikimedia.org/wikipedia/commons/d/d0/Flag_of_Mozambique.svg')
('Myanmar', 'Asia', 676578, 61120000, 59444000000.0, 'Naypyidaw', '.mm', '//upload.wikimedia.org/wikipedia/commons/8/8c/Flag_of_Myanmar.svg')
('Namibia', 'Africa', 825615, 2113077, 12807000000.0, 'Windhoek', '.na', '//upload.wikimedia.org/wikipedia/commons/0/00/Flag_of_Namibia.svg')
('Nauru', 'Oceania', 21, 9945, 121000000.0, 'Yaren District', '.nr', '//upload.wikimedia.org/wikipedia/commons/3/30/Flag_of_Nauru.svg')
('Nepal', 'Asia', 147181, 26494504, 18029000000.0, 'Kathmandu', '.np', '//upload.wikimedia.org/wikipedia/commons/9/9b/Flag_of_Nepal.svg')
('Netherlands', 'Europe', 41543, 16857500, 800535.0, 'Amsterdam', '.nl', '//upload.wikimedia.org/wikipedia/commons/2/20/Flag_of_the_Netherlands.svg')
('New Zealand', 'Oceania', 270467, 4538520, 171256.0, 'Wellington', '.nz', '//upload.wikimedia.org/wikipedia/commons/3/3e/Flag_of_New_Zealand.svg')
('Nicaragua', 'North America', 130373, 6071045, 10508000000.0, 'Managua', '.ni', '//upload.wikimedia.org/wikipedia/commons/1/19/Flag_of_Nicaragua.svg')
('Niger', 'Africa', 1267000, 17138707, 6773000000.0, 'Niamey', '.ne', '//upload.wikimedia.org/wikipedia/commons/f/f4/Flag_of_Niger.svg')
('Nigeria', 'Africa', 923768, 178517000, 28647.0, 'Abuja', '.ng', '//upload.wikimedia.org/wikipedia/commons/7/79/Flag_of_Nigeria.svg')
('North Korea', 'Asia', 120538, 25027000, 14411000000.0, 'Pyongyang', '.kp', '//upload.wikimedia.org/wikipedia/commons/5/51/Flag_of_North_Korea.svg')
('Norway', 'Europe', 323802, 5124383, 499667.0, 'Oslo', '.no', '//upload.wikimedia.org/wikipedia/commons/d/d9/Flag_of_Norway.svg')
('Oman', 'Asia', 309500, 4020000, 78111000000.0, 'Muscat', '.om', '//upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Oman.svg')
('Pakistan', 'Asia', 881912, 188020000, 215117.0, 'Islamabad', '.pk', '//upload.wikimedia.org/wikipedia/commons/3/32/Flag_of_Pakistan.svg')
('Palau', 'Oceania', 459, 20901, 213000000.0, 'Ngerulmud', '.pw', '//upload.wikimedia.org/wikipedia/commons/4/48/Flag_of_Palau.svg')
('Panama', 'North America', 75417, 3405813, 36253000000.0, 'Panama City', '.pa', '//upload.wikimedia.org/wikipedia/commons/a/ab/Flag_of_Panama.svg')
('Papua New Guinea', 'Oceania', 462840, 7398500, 15677000000.0, 'Port Moresby', '.pg', '//upload.wikimedia.org/wikipedia/commons/e/e3/Flag_of_Papua_New_Guinea.svg')
('Paraguay', 'South America', 406752, 6783374, 25935000000.0, 'Asunci√≥n', '.py', '//upload.wikimedia.org/wikipedia/commons/2/27/Flag_of_Paraguay.svg')
('Peru', 'South America', 1285216, 30475144, 204681.0, 'Lima', '.pe', '//upload.wikimedia.org/wikipedia/commons/c/cf/Flag_of_Peru.svg')
('Philippines', 'Asia', 342353, 99804200, 250182.0, 'Manila', '.ph', '//upload.wikimedia.org/wikipedia/commons/9/99/Flag_of_the_Philippines.svg')
('Poland', 'Europe', 312679, 38496000, 489852.0, 'Warsaw', '.pl', '//upload.wikimedia.org/wikipedia/commons/1/12/Flag_of_Poland.svg')
('Portugal', 'Europe', 92090, 10477800, 212139.0, 'Lisbon', '.pt', '//upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg')
('Qatar', 'Asia', 11586, 2174035, 192402.0, 'Doha', '.qa', '//upload.wikimedia.org/wikipedia/commons/6/65/Flag_of_Qatar.svg')

# ü¶≠ Pripojenie sa na Maria DB
In≈°tal√°tor: https://mariadb.org/download/?t=mariadb&p=mariadb&r=11.2.2&os=windows&cpu=x86_64&pkg=msi&m=gigenet   
Porty: 3306  
User: root    
Heslo: vase

# ‚òÅÔ∏è Pripojenie sa na Oracle DB
In≈°tal√°tor: https://www.oracle.com/database/technologies/appdev/xe.html  
Porty: 1521  
SID: xe

In [23]:
!pip install cx_Oracle

Collecting cx_Oracle
  Downloading cx_Oracle-8.3.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (891 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 891.5/891.5 kB 42.6 MB/s eta 0:00:00
Installing collected packages: cx_Oracle
Successfully installed cx_Oracle-8.3.0

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

# ü™ü Pripojenie sa na Microsoft Access (pyodbc)
In≈°tal√°tor: https://www.microsoft.com/en-us/microsoft-365/access   
Microsoft Access 2016 Runtime: https://www.microsoft.com/en-us/download/confirmation.aspx?id=50040  

- Linuxom ch√Ωba ODBC driver manage
- Treba doin≈°talova≈• UnixODBC
    - Debian/Ubuntu: sudo apt-get install unixodbc unixodbc-dev
    - Red Hat/CentOS/Fedora: sudo yum install unixODBC unixODBC-devel

# Kurzory

# üñ±Ô∏è Kurzory (Cursors)
- N√°stroje pou≈æ√≠vane pri pr√°ci s datab√°zami 
- Kurzor v kontexte datab√°zovej pr√°ce je v podstate ukazovateƒæ, ktor√Ω umo≈æ≈àuje program√°torovi vykon√°va≈• oper√°cie na d√°tach v datab√°ze, ako s√∫ ƒç√≠tanie, aktualiz√°cia, vkladanie alebo mazanie z√°znamov
- Pri pou≈æ√≠van√≠ Pythonu na pr√°cu s datab√°zami, ako s√∫ napr√≠klad SQLite, MySQL, PostgreSQL, alebo in√©, program√°tori najprv vytvoria spojenie s datab√°zou pomocou vhodn√©ho datab√°zov√©ho adapt√©ra 
- Po vytvoren√≠ spojenia s datab√°zou m√¥≈æu pomocou met√≥dy cursor() vytvori≈• kurzor 
- Tento kurzor potom m√¥≈æu pou≈æ√≠va≈• na vykon√°vanie SQL pr√≠kazov

(7369, 'SMITH', 'CLERK', 7902, datetime.date(1980, 12, 17), 800, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.date(1981, 2, 20), 1600, 300, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.date(1981, 4, 2), 2975, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.date(1981, 9, 28), 1250, 1400, 30)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.date(1981, 5, 1), 2850, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.date(1981, 6, 9), 2450, None, 10)
(7788, 'SCOTT', 'ANALYST', 7566, datetime.date(1982, 12, 9), 3000, None, 20)
(7839, 'KING', 'PRESIDENT', None, datetime.date(1981, 11, 17), 5000, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.date(1981, 9, 8), 1500, 0, 30)
(7876, 'ADAMS', 'CLERK', 7788, datetime.date(1983, 1, 12), 1100, None, 20)
(7900, 'JAMES', 'CLERK', 7698, datetime.date(1981, 12, 3), 950, None, 30)
(7902, 'FORD', 'ANALYST', 7566, datetime.date(1981, 12, 3), 3000, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.date(1982, 1, 23), 1300, None, 10)

## Typy DB Kurzorov
**1. Statick√Ω kurzor (Static Cursor):**  
    - Vracia sn√≠mku v√Ωsledkov SQL dopytu.  
    - Neodr√°≈æa zmeny v datab√°ze po jeho vytvoren√≠.  
    - Je vhodn√Ω pre oper√°cie, kde nie s√∫ potrebn√© aktualiz√°cie d√°t.  
  
**2. Dynamick√Ω kurzor (Dynamic Cursor):**  
    - Reflektuje v≈°etky zmeny v datab√°ze v re√°lnom ƒçase.  
    - Je vhodn√Ω pre situ√°cie, kde je potrebn√© vidie≈• aktu√°lne zmeny v datab√°ze.  
   
**3. Kƒæ√∫ƒçov√Ω s√∫borov√Ω kurzor (Keyset-driven Cursor):**  
    - Uchov√°va kƒæ√∫ƒçe (identifik√°tory) riadkov, ktor√© s√∫ v√Ωsledkom dopytu.  
    - Reflektuje niektor√©, ale nie v≈°etky zmeny v datab√°ze (napr√≠klad nevid√≠ novovzniknut√© riadky).  

**4.  R√Ωchly prechodn√Ω kurzor (Fast Forward-Only Cursor):**  
    -  Umo≈æ≈àuje len prech√°dzanie d√°tami dopredu.  
    -  Je optimalizovan√Ω pre r√Ωchle ƒç√≠tanie d√°t bez potreby n√°vratu alebo aktualiz√°cie.  

**5.  Posuvn√Ω kurzor (Scrollable Cursor):**  
     - Umo≈æ≈àuje prech√°dzanie d√°tami vpred aj vzad.  
     - U≈æitoƒçn√Ω pri aplik√°ci√°ch, kde je potrebn√© n√°vratn√© prech√°dzanie d√°t.

# üíÅ Fetching (Naƒç√≠tanie/Z√≠skanie V√Ωsledkov z DB)
Met√≥dy **fetchone**, **fetchall** a **fetchmany** urƒçen√© na naƒç√≠tanie v√Ωsledkov z dotazu na datab√°zu. Tu je prehƒæad ich funkci√≠ a rozdielov:

**1. fetchone:**  

**Funkcia:** T√°to met√≥da naƒç√≠ta nasleduj√∫ci riadok v√Ωsledkov√©ho setu z posledn√©ho vykonan√©ho dotazu a vr√°ti jedin√Ω riadok. Ak u≈æ nie s√∫ ≈æiadne ƒèal≈°ie riadky, vr√°ti None.  
  
**Pou≈æitie:** Ide√°lna, keƒè oƒçak√°vate iba jeden riadok ako v√Ωsledok, alebo keƒè chcete spracova≈• riadky postupne (napr. z d√¥vodu obmedzenej pam√§te).  

**2. fetchall:**

**Funkcia:** Naƒç√≠ta v≈°etky zost√°vaj√∫ce riadky z v√Ωsledkov√©ho setu a vr√°ti ich ako zoznam. Ak u≈æ nie s√∫ ≈æiadne riadky, vr√°ti pr√°zdny   zoznam.  

**Pou≈æitie:** Vhodn√° pri dotazoch, kde oƒçak√°vate mal√Ω poƒçet v√Ωsledkov, alebo keƒè potrebujete naraz spracova≈• v≈°etky v√Ωsledky.  

**3. fetchmany(size=?):** 

**Funkcia:** Naƒç√≠ta urƒçen√Ω poƒçet riadkov (definovan√Ω parametrom size) z v√Ωsledkov√©ho setu. Ak u≈æ nie s√∫ dostupn√© ≈æiadne ƒèal≈°ie riadky, vr√°ti menej ako size riadkov.  

**Pou≈æitie:** T√°to met√≥da je u≈æitoƒçn√°, keƒè potrebujete naƒç√≠ta≈• v√Ωsledky v d√°vkach, ƒço m√¥≈æe by≈• efekt√≠vne z hƒæadiska pam√§te pri spracovan√≠ veƒæk√Ωch mno≈æstiev d√°t.
V√Ωber spr√°vnej met√≥dy z√°vis√≠ od va≈°ich potrieb a od toho, ako pl√°nujete spracov√°va≈• v√Ωsledky dotazu. Napr√≠klad, fetchone je u≈æitoƒçn√° pri sekvenƒçnom spracovan√≠ riadkov, zatiaƒæ ƒço fetchall je pohodln√°, keƒè chcete naraz z√≠ska≈• v≈°etky v√Ωsledky a fetchmany umo≈æ≈àuje efekt√≠vnej≈°ie spracovanie pri pr√°ci s veƒæk√Ωmi d√°tov√Ωmi setmi.

Vysledok: (7369, 'SMITH', 'CLERK', 7902, '1980-12-17', 800, None, 20)
Vysledok 2: ((7369, 'SMITH', 'CLERK', 7902, '1980-12-17', 800, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, '1981-02-20', 1600, 300, 30), (7521, 'WARD', 'SALESMAN', 7698, '1981-02-22', 1250, 500, 30), (7566, 'JONES', 'MANAGER', 7839, '1981-04-02', 2975, None, 20), (7654, 'MARTIN', 'SALESMAN', 7698, '1981-09-28', 1250, 1400, 30), (7698, 'BLAKE', 'MANAGER', 7839, '1981-05-01', 2850, None, 30), (7782, 'CLARK', 'MANAGER', 7839, '1981-06-09', 2450, None, 10), (7788, 'SCOTT', 'ANALYST', 7566, '1982-12-09', 3000, None, 20), (7839, 'KING', 'PRESIDENT', None, '1981-11-17', 5000, None, 10), (7844, 'TURNER', 'SALESMAN', 7698, '1981-09-08', 1500, 0, 30), (7876, 'ADAMS', 'CLERK', 7788, '1983-01-12', 1100, None, 20), (7900, 'JAMES', 'CLERK', 7698, '1981-12-03', 950, None, 30), (7902, 'FORD', 'ANALYST', 7566, '1981-12-03', 3000, None, 20), (7934, 'MILLER', 'CLERK', 7782, '1982-01-23', 1300, None, 10), (7369, 'SMITH', 'CLERK', 7902, '17.12.1980', 800, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, '20.2.1981', 1600, 300, 30), (7521, 'WARD', 'SALESMAN', 7698, '22.2.1981', 1250, 500, 30), (7566, 'JONES', 'MANAGER', 7839, '2.4.1981', 2975, None, 20), (7654, 'MARTIN', 'SALESMAN', 7698, '28.9.1981', 1250, 1400, 30), (7698, 'BLAKE', 'MANAGER', 7839, '1.5.1981', 2850, None, 30), (7782, 'CLARK', 'MANAGER', 7839, '9.6.1981', 2450, None, 10), (7788, 'SCOTT', 'ANALYST', 7566, '9.12.1982', 3000, None, 20), (7839, 'KING', 'PRESIDENT', None, '17.11.1981', 5000, None, 10), (7844, 'TURNER', 'SALESMAN', 7698, '8.9.1981', 1500, 0, 30), (7876, 'ADAMS', 'CLERK', 7788, '12.1.1983', 1100, None, 20), (7900, 'JAMES', 'CLERK', 7698, '3.12.1981', 950, None, 30), (7902, 'FORD', 'ANALYST', 7566, '3.12.1981', 3000, None, 20), (7934, 'MILLER', 'CLERK', 7782, '23.1.1982', 1300, None, 10))
Vysledok 3: ((7369, 'SMITH', 'CLERK', 7902, '1980-12-17', 800, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, '1981-02-20', 1600, 300, 30), (7521, 'WARD', 'SALESMAN', 7698, '1981-02-22', 1250, 500, 30))
Vysledok 4: (('SMITH', 'CLERK', 800), ('ALLEN', 'SALESMAN', 1600), ('WARD', 'SALESMAN', 1250), ('JONES', 'MANAGER', 2975), ('MARTIN', 'SALESMAN', 1250), ('BLAKE', 'MANAGER', 2850), ('CLARK', 'MANAGER', 2450), ('SCOTT', 'ANALYST', 3000), ('KING', 'PRESIDENT', 5000), ('TURNER', 'SALESMAN', 1500), ('ADAMS', 'CLERK', 1100), ('JAMES', 'CLERK', 950), ('FORD', 'ANALYST', 3000), ('MILLER', 'CLERK', 1300), ('SMITH', 'CLERK', 800), ('ALLEN', 'SALESMAN', 1600), ('WARD', 'SALESMAN', 1250), ('JONES', 'MANAGER', 2975), ('MARTIN', 'SALESMAN', 1250), ('BLAKE', 'MANAGER', 2850), ('CLARK', 'MANAGER', 2450), ('SCOTT', 'ANALYST', 3000), ('KING', 'PRESIDENT', 5000), ('TURNER', 'SALESMAN', 1500), ('ADAMS', 'CLERK', 1100), ('JAMES', 'CLERK', 950), ('FORD', 'ANALYST', 3000), ('MILLER', 'CLERK', 1300))
Vysledok 5: (('SMITH', 'CLERK', 800), ('JONES', 'MANAGER', 2975), ('SCOTT', 'ANALYST', 3000), ('ADAMS', 'CLERK', 1100), ('FORD', 'ANALYST', 3000), ('SMITH', 'CLERK', 800), ('JONES', 'MANAGER', 2975), ('SCOTT', 'ANALYST', 3000), ('ADAMS', 'CLERK', 1100), ('FORD', 'ANALYST', 3000))

# DB a Pandas

# üêº Pandas (Python Data Analysis Library)
Kni≈ænica programovacieho jazyka Python, ktor√° sa pou≈æ√≠va pre pr√°cu s d√°tami. Je ≈°peci√°lne navrhnut√° na manipul√°ciu a anal√Ωzu d√°tov√Ωch ≈°trukt√∫r. Pandas je veƒæmi popul√°rna kni≈ænica v oblasti anal√Ωzy d√°t a vede o d√°tach v Python, preto≈æe veƒæmi zjednodu≈°uje proces spracovania a anal√Ωzy d√°t.
Hlavn√© d√°tov√© ≈°trukt√∫ry v Pandas s√∫:
1. **DataFrame**: Je to **tabuƒækov√° d√°tov√° ≈°trukt√∫ra**, ktor√° obsahuje riadky a stƒ∫pce. Ka≈æd√Ω stƒ∫pec m√¥≈æe ma≈• r√¥zny d√°tov√Ω typ (napr√≠klad ƒç√≠sla, re≈•azce, d√°tumy). DataFrame je **vhodn√Ω** na reprezent√°ciu skutoƒçn√Ωch d√°t ako s√∫ **tabuƒæky v Exceli** alebo **SQL tabuƒæky**.
2. **Series**: Je **jednorozmern√° d√°tov√° ≈°trukt√∫ra** v Pandas. M√¥≈æete si ju predstavi≈• ako **jeden stƒ∫pec d√°t z DataFrame**.

Pandas pon√∫ka r√¥zne funkcie pre ƒç√≠tanie, zapisovanie a manipul√°ciu s d√°tami:
1. ƒå√≠tanie d√°t: Pandas podporuje ƒç√≠tanie r√¥znych form√°tov d√°t ako CSV, Excel, JSON a SQL datab√°zy.
2. Z√°kladn√© manipul√°cie: Zmena hodn√¥t, prid√°vanie a mazanie stƒ∫pcov a riadkov, filtrovanie d√°t a pod.
3. Zluƒçovanie a spojovanie: Pandas umo≈æ≈àuje zluƒçova≈• d√°ta z r√¥znych zdrojov.
4. Skupinov√© oper√°cie: Ako s√∫ƒçet, priemer, maxim√°lna hodnota pre skupiny d√°t.
5. ƒåasov√© rady: ≈†peci√°lne funkcie pre pr√°cu s ƒçasov√Ωmi radmi.

## Jednoduch√Ω Pandas DataFrame

    Meno  Vek       Mesto     Mzda D√°tum narodenia
0   Anna   28  Bratislava  1500.50      1994-02-14
1  Peter   34      Ko≈°ice  1200.00      1988-05-23
2  Lucia   29      ≈Ωilina  2250.75      1993-08-31

,Meno,Vek,Mesto,Mzda,D√°tum narodenia
0,Anna,28,Bratislava,1500.50,1994-02-14
1,Peter,34,Ko≈°ice,1200.00,1988-05-23
2,Lucia,29,≈Ωilina,2250.75,1993-08-31

## Pandas DataFrame s indexami

    Meno  Vek       Mesto     Mzda D√°tum narodenia
a   Anna   28  Bratislava  1500.50      1994-02-14
b  Peter   34      Ko≈°ice  1200.00      1988-05-23
c  Lucia   29      ≈Ωilina  2250.75      1993-08-31

,Meno,Vek,Mesto,Mzda,D√°tum narodenia
a,Anna,28,Bratislava,1500.50,1994-02-14
b,Peter,34,Ko≈°ice,1200.00,1988-05-23
c,Lucia,29,≈Ωilina,2250.75,1993-08-31

## Pandas DataFrame z CSV Datasetu

                       Email Last Name            Country  Id First Name  \
0            Kaya@marcos.net    Ernser  Equatorial Guinea   0     Camden
1       Yasmeen@patricia.com   Bernier            Burundi   1        Jay
2  Lowell.Zboncak@shakira.tv   Abshire           Cambodia   2      Price
3         Kenton@maryam.name   Cormier            Uruguay   3     Norene
4     Elsie.Frami@leonel.net   Johnson         San Marino   4      Macey

    Created At
0   6. 6. 2006
1  15. 6. 1984
2   2. 2. 2006
3  3. 11. 1991
4  31. 3. 2009

,Email,Last Name,Country,Id,First Name,Created At
0,Kaya@marcos.net,Ernser,Equatorial Guinea,0,Camden,6. 6. 2006
1,Yasmeen@patricia.com,Bernier,Burundi,1,Jay,15. 6. 1984
2,Lowell.Zboncak@shakira.tv,Abshire,Cambodia,2,Price,2. 2. 2006
3,Kenton@maryam.name,Cormier,Uruguay,3,Norene,3. 11. 1991
4,Elsie.Frami@leonel.net,Johnson,San Marino,4,Macey,31. 3. 2009
...,...,...,...,...,...,...
29995,Nicole@keira.biz,Welch,Saint Martin,29995,Sibyl,19. 4. 2015
29996,Buddy@nicolas.biz,Cole,Romania,29996,Marina,13. 5. 1981
29997,Keegan@joelle.io,Emmerich,Dominica,29997,Devan,1. 2. 1981
29998,Leland_Hickle@ocie.info,Mante,Burkina Faso,29998,Diana,15. 3. 2003
29999,Ova@mohammad.ca,Haag,Suriname,29999,Noe,2. 11. 2011

<ipython-input-7-7d56f72107d2>:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_zamestnanci = pd.read_sql_query("select * from EMP", con = pripojenie)

,EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
0,7369,SMITH,CLERK,7902.0,1980-12-17,800,NaN,20
1,7499,ALLEN,SALESMAN,7698.0,1981-02-20,1600,300.0,30
2,7521,WARD,SALESMAN,7698.0,1981-02-22,1250,500.0,30
3,7566,JONES,MANAGER,7839.0,1981-04-02,2975,NaN,20
4,7654,MARTIN,SALESMAN,7698.0,1981-09-28,1250,1400.0,30
5,7698,BLAKE,MANAGER,7839.0,1981-05-01,2850,NaN,30
6,7782,CLARK,MANAGER,7839.0,1981-06-09,2450,NaN,10
7,7788,SCOTT,ANALYST,7566.0,1982-12-09,3000,NaN,20
8,7839,KING,PRESIDENT,NaN,1981-11-17,5000,NaN,10
9,7844,TURNER,SALESMAN,7698.0,1981-09-08,1500,0.0,30
10,7876,ADAMS,CLERK,7788.0,1983-01-12,1100,NaN,20
11,7900,JAMES,CLERK,7698.0,1981-12-03,950,NaN,30
12,7902,FORD,ANALYST,7566.0,1981-12-03,3000,NaN,20
13,7934,MILLER,CLERK,7782.0,1982-01-23,1300,NaN,10

<ipython-input-23-763327dbff23>:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_zamestnanci = pd.read_sql_query("select * from EMP", con = pripojenie)

,EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
0,7369,SMITH,CLERK,7902.0,1980-12-17,800,NaN,20
1,7499,ALLEN,SALESMAN,7698.0,1981-02-20,1600,300.0,30
2,7521,WARD,SALESMAN,7698.0,1981-02-22,1250,500.0,30
3,7566,JONES,MANAGER,7839.0,1981-04-02,2975,NaN,20
4,7654,MARTIN,SALESMAN,7698.0,1981-09-28,1250,1400.0,30
5,7698,BLAKE,MANAGER,7839.0,1981-05-01,2850,NaN,30
6,7782,CLARK,MANAGER,7839.0,1981-06-09,2450,NaN,10
7,7788,SCOTT,ANALYST,7566.0,1982-12-09,3000,NaN,20
8,7839,KING,PRESIDENT,NaN,1981-11-17,5000,NaN,10
9,7844,TURNER,SALESMAN,7698.0,1981-09-08,1500,0.0,30
10,7876,ADAMS,CLERK,7788.0,1983-01-12,1100,NaN,20
11,7900,JAMES,CLERK,7698.0,1981-12-03,950,NaN,30
12,7902,FORD,ANALYST,7566.0,1981-12-03,3000,NaN,20
13,7934,MILLER,CLERK,7782.0,1982-01-23,1300,NaN,10
14,7369,SMITH,CLERK,7902.0,17.12.1980,800,NaN,20
15,7499,ALLEN,SALESMAN,7698.0,20.2.1981,1600,300.0,30
16,7521,WARD,SALESMAN,7698.0,22.2.1981,1250,500.0,30
17,7566,JONES,MANAGER,7839.0,2.4.1981,2975,NaN,20
18,7654,MARTIN,SALESMAN,7698.0,28.9.1981,1250,1400.0,30
19,7698,BLAKE,MANAGER,7839.0,1.5.1981,2850,NaN,30
20,7782,CLARK,MANAGER,7839.0,9.6.1981,2450,NaN,10
21,7788,SCOTT,ANALYST,7566.0,9.12.1982,3000,NaN,20
22,7839,KING,PRESIDENT,NaN,17.11.1981,5000,NaN,10
23,7844,TURNER,SALESMAN,7698.0,8.9.1981,1500,0.0,30
24,7876,ADAMS,CLERK,7788.0,12.1.1983,1100,NaN,20
25,7900,JAMES,CLERK,7698.0,3.12.1981,950,NaN,30
26,7902,FORD,ANALYST,7566.0,3.12.1981,3000,NaN,20
27,7934,MILLER,CLERK,7782.0,23.1.1982,1300,NaN,10

# üêº  V√Ωber d√°t (Select) v Pandas

## D√¥le≈æit√© Pozn√°mky Pandas
- Pri v√Ωbere podmno≈æ√≠n √∫dajov sa pou≈æ√≠vaj√∫ hranat√© z√°tvorky []
- V t√Ωchto z√°tvork√°ch m√¥≈æete pou≈æi≈• jeden ≈°t√≠tok stƒ∫pca/riadku, zoznam ≈°t√≠tkov stƒ∫pca/riadku, ƒças≈• ≈°t√≠tkov, podmienen√Ω v√Ωraz alebo dvojbodku
- Ak pou≈æ√≠vate n√°zvy riadkov a stƒ∫pcov, vyberte konkr√©tne riadky a/alebo stƒ∫pce pomocou loc
- Pri pou≈æit√≠ poz√≠ci√≠ v tabuƒæke vyberte konkr√©tne riadky a/alebo stƒ∫pce pomocou iloc
- V√Ωberu m√¥≈æete priradi≈• nov√© hodnoty na z√°klade loc/iloc

https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

# Grafy

# Environs a Secrets

# üå≤ Premenn√© Prostredia (Environs - Environment variables)

# ü§ê Tajomstv√° (Secrets) u≈æ oznaƒçen√© ako zastaral√©

# üîå Pripojenie sa na Datab√°zu PostgreSQL

# SQLAlchemy

# SQL Alchemy
- Kni≈ænica jazyka Python, ktor√° sa pou≈æ√≠va pre pr√°cu s datab√°zami 
- Je to ORM (Object-Relational Mapping) n√°stroj, ktor√Ω umo≈æ≈àuje program√°torom pracova≈• s datab√°zami pomocou objektovo orientovan√©ho pr√≠stupu namiesto tradiƒçn√Ωch SQL dopytov 
- Poskytuje abstraktn√∫ vrstvu, ktor√° umo≈æ≈àuje program√°torom komunikova≈• s r√¥znymi typmi datab√°z, ako napr√≠klad MySQL, PostgreSQL, SQLite a ƒèal≈°ie, bez toho, aby museli meni≈• svoj k√≥d

Hlavn√© v√Ωhody SQLAlchemy zah≈ï≈àaj√∫:
1. Abstrakcia datab√°zy: Umo≈æ≈àuje program√°torom p√≠sa≈• datab√°zov√Ω k√≥d nez√°visle od konkr√©tneho typu datab√°zy.
2. Objektovo-relaƒçn√° transform√°cia: Umo≈æ≈àuje mapova≈• datab√°zov√© tabuƒæky na Python triedy a objekty na riadky v tabuƒæk√°ch, ƒço zjednodu≈°uje manipul√°ciu s d√°tami.
3. Flexibilita a mocnos≈•: Pon√∫ka pokroƒçil√© funkcie ako transakƒçn√Ω mana≈æment, lazy loading, automatick√© migr√°cie a in√©.
4. Podpora pre komplexn√© SQL dotazy: Aj keƒè je ORM mocn√Ω, SQLAlchemy st√°le umo≈æ≈àuje vykon√°va≈• surov√© SQL dotazy pre komplexn√© alebo ≈°pecifick√© oper√°cie, ktor√© nie s√∫ priamo podporovan√© ORM.

Requirement already satisfied: sqlalchemy in /opt/python/envs/default/lib/python3.8/site-packages (2.0.13)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/python/envs/default/lib/python3.8/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/python/envs/default/lib/python3.8/site-packages (from sqlalchemy) (3.0.1)

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

# In-memory SQLite engine
                   
Je v kontexte SQLAlchemy **≈°peci√°lny typ datab√°zov√©ho engine**, ktor√Ω sa pou≈æ√≠va na **vytvorenie datab√°zy SQLite**, ktor√° existuje **len v pam√§ti RAM poƒç√≠taƒça**, **nie na pevnom disku**. 
Tento engine je veƒæmi u≈æitoƒçn√Ω pre **r√Ωchle testovanie** alebo pre doƒçasn√© **datab√°zov√© oper√°cie**, preto≈æe **v≈°etky d√°ta sa stratia, keƒè Pythonov proces**, ktor√Ω **datab√°zu vytvoril, skonƒç√≠**.

V SQLAlchemy vytvor√≠te in-memory SQLite engine pomocou nasleduj√∫ceho pripojovacieho re≈•azca:  
`engine = create_engine('sqlite:///:memory:')`

## Deklarat√≠vne Mapovanie Triedy
- Je **pr√≠stup k definovaniu datab√°zov√Ωch modelov** a ich **vz≈•ahov** priamo v Python k√≥de **pomocou tried a atrib√∫tov**. 
- Umo≈æ≈àuje program√°torom pracova≈• s **datab√°zov√Ωmi tabuƒækami** ako s **be≈æn√Ωmi Python objektmi**, ƒço **zjednodu≈°uje interakciu s datab√°zou** a **zvy≈°uje ƒçitateƒænos≈• k√≥du**.
- Pri deklarat√≠vnom mapovan√≠ v SQLAlchemy sa **definuj√∫ modely datab√°zov√Ωch tabuliek** ako **triedy Python**. 
- Tieto **triedy** s√∫ zvyƒçajne **odvoden√© od z√°kladnej triedy**, ktor√° sa naz√Ωva **Base**, poskytovan√° SQLAlchemy. 
- Ka≈æd√° trieda reprezentuje tabuƒæku v datab√°ze, a jej atrib√∫ty reprezentuj√∫ stƒ∫pce tejto tabuƒæky.
- Deklarat√≠vne mapovanie v SQLAlchemy poskytuje v√Ωhody ako **jednoduch≈°ie** a **intuit√≠vnej≈°ie** **rozhranie** pre pr√°cu s datab√°zami, lep≈°iu integr√°ciu s Python k√≥dom a mo≈ænos≈• vyu≈æitia funkci√≠ **objektovo-relaƒçn√©ho mapovania (ORM)**.

<ipython-input-67-0b5c0768b591>:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

# Pr√≠klad aj v√Ωpisom

ID: 1, Meno: Adam Sangala

# Viacer√≠ Pou≈æ√≠vatelia

ID: 1, Meno: Adam Sangala
ID: 2, Meno: Eva Kvetna
ID: 3, Meno: Ivana Rozumna